<div class="center hero-unit"> 
		<h1><%= t("static_pages.home.welcome") %></h1>

		<h2>
		<%= t("static_pages.home.text1") %> 
		<a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
		<%= t("static_pages.home.text2") %>
		</h2>

		<%= link_to t('static_pages.home.btn'), signup_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>